<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorate="~{betting-layout}">

<div layout:fragment="page-content">

    <!-- Page Content -->
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                UPCOMING EVENTS
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Tennis match</th>
                            <th>Time of start</th>
                            <th>Player one wins [1]</th>
                            <th>Player two wins [2]</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Tennis match</th>
                            <th>Time of start</th>
                            <th>Player one wins [1]</th>
                            <th>Player two wins [2]</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="upcomingTennisMatch, iterStat : ${upcomingTennisMatches}"  th:object="${upcomingTennisMatch}">
                            <td th:text="*{playerOne.name}+' '+*{playerOne.surname}+' vs '+*{playerTwo.name}+' '+*{playerTwo.surname}"></td>
                            <td th:text="${#temporals.format(upcomingTennisMatch.timeOfStart,'yyyy.MM.dd HH:mm')}"></td>
                            <td>
                                <form th:action="@{/betting/add-to-ticket/{game_id}(game_id=${upcomingTennisMatch.id})}" method="post">
                                    <input type="hidden" th:value="*{odds.playerOneWinningOdd}" name="odd"/>
                                    <button name="betSelectionType" th:value="'PlayerOne'" th:text="*{odds.playerOneWinningOdd}" type="submit"></button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/betting/add-to-ticket/{game_id}(game_id=${upcomingTennisMatch.id})}" method="post">
                                    <input type="hidden" th:value="*{odds.playerTwoWinningOdd}" name="odd"/>
                                    <button name="betSelectionType" th:value="'PlayerTwo'" th:text="*{odds.playerTwoWinningOdd}" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
