<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{main-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="page-content">

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Your account
            <small sec:authentication="name"></small>
        </h1>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Your wallet</h4>
                    <div class="card-body">
                        <p class="card-text"> Check your balance, your transfer history, withdraw your winnings and recharge for more fun!</p>
                        <p class="card-text" th:text="'Your current balance '+${user.wallet.balance} +' PLN'"> </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/user/wallet}" class="btn btn-primary">Go to wallet</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Your bets</h4>
                    <div class="card-body">
                        <p class="card-text">Check and cash out the bets</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/user/bets}" class="btn btn-primary">Go to your bets</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
</html>
