<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{main-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="page-content">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Your account
        <small sec:authentication="name"></small>
    </h1>
    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

    <!-- Page Content -->
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                TRANSACTIONS HISTORY
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Time of creation</th>
                            <th>Time of event</th>
                            <th></th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Type of transaction</th>
                            <th>Value [PLN]</th>
                            <th>Time</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="transaction, iterStat : ${user.wallet.moneyTransactions}" th:object="${transaction}">
                            <td th:text="*{transactionType}"></td>
                            <td th:text="*{value}"></td>
                            <td th:text="${#temporals.format(transaction.time,'yyyy.MM.dd HH:mm:ss')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container -->
</div>
</html>
