<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{main-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="page-content">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Ticket details
            <small sec:authentication="name"></small>
        </h1>
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

        <!-- Page Content -->
        <div class="container">
            <h3 class="badge-danger" th:if="${cannotCashOut}" th:text="${cannotCashOut}"></h3>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    TICKET DETAILS
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Tennis match</th>
                                <th>Selection type</th>
                                <th>Odd</th>
                                <th>Status</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Tennis match</th>
                                <th>Selection type</th>
                                <th>Odd</th>
                                <th>Status</th>
                                <th>Result</th>

                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="betSelection : ${ticket.betSelections}" th:object="${betSelection}">
                                <td th:text="*{tennisMatch.playerOne.name} + ' '+ *{tennisMatch.playerOne.surname}+' vs '+ *{tennisMatch.playerTwo.name}+' '+*{tennisMatch.playerTwo.surname}"></td>
                                <td th:text="*{betSelectionType}"></td>
                                <td th:text="*{odd}"></td>
                                <td th:text="*{betSelectionStatus}"></td>
                                <td th:text="*{betSelectionResult}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</html>
