<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{tennis-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div layout:fragment="page-content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/homepage}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a th:href="@{/user/account}">Your account</a>
        </li>
        <li class="breadcrumb-item active">Wallet</li>
    </ol>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/vendor/fontawesome-free/svgs/brands/cc-paypal.svg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/user/wallet/recharge}">Recharge with PayPal</a>
                    </h4>
                    <p class="card-text">Recharge your wallet and go back to betting!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/vendor/fontawesome-free/svgs/brands/cc-mastercard.svg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/user/wallet/recharge}">Recharge with CreditCard</a>
                    </h4>
                    <p class="card-text">Recharge your wallet and go back to betting!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/vendor/fontawesome-free/svgs/regular/money-bill-alt.svg"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/user/wallet/withdraw}">Withdraw</a>
                    </h4>
                    <p class="card-text">Make use of all the money you've won! </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            TRANSACTIONS HISTORY
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Type of transaction</th>
                        <th>Value</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Type of transaction</th>
                        <th>Value [PLN]</th>
                        <th>Time</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="transaction, iterStat : ${user.wallet.moneyTransactions}" th:object="${transaction}">
                        <td th:text="*{transactionType}"></td>
                        <td th:text="*{value}"></td>
                        <td th:text="${#temporals.format(transaction.time,'yyyy.MM.dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>
