<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{tennis-layout}">

<div layout:fragment="page-content">
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">400
      <small>Bad request</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/homepage}">Home</a>
      </li>
      <li class="breadcrumb-item active">400</li>
    </ol>

    <div class="jumbotron">
      <h1 class="display-1">400</h1>
      <p>Bad request</p>
      <ul>
        <li>
          <a th:href="@{/homepage}">Home</a>
        </li>
      </ul>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->
</div>
</html>

