<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header::pageheader">
</head>

<div th:include="fragments/header::navigation"></div>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Sport betting
        <small>Tennis</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/homepage}">Home</a>
        </li>
        <li class="breadcrumb-item active">Tennis</li>
    </ol>

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <div layout:fragment="page-content">

            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- BetTicket Widget -->
            <div class="card my-4" sec:authorize="isAuthenticated()">
                <h5 class="card-header" th:text="'Your ticket ('+${session.ticket.betSelections.size()}+' bets)'">Your
                    ticket </h5>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li th:each="betSelection : ${session.ticket.betSelections}">
                                <p th:text="${betSelection.tennisMatch.playerOne.surname}+' vs '+${betSelection.tennisMatch.playerTwo.surname}"></p>
                                <p><span th:text="${betSelection.betSelectionType}+'@'+${betSelection.odd}"></span>
                                <form th:action="@{/betting/remove-bet}" method="post">
                                    <input type="hidden" th:value="${betSelection.temporalId}" name="temporalId">
                                    <button th:text="'X'" type="submit"></button>
                                </form>
                                </p>

                                <hr/>
                            </li>
                        </ul>
                    </div>
                    <div class="row" th:if="${session.ticket.betSelections.size()>0}">
                        <p class="badge-pill badge-info" th:text="'Total odds: '+${session.ticket.totalOdd}"></p>
                        <br/>

                        <form  th:action="@{/betting/submit-ticket}"
                              method="post">
                            <p class="badge-danger" th:if="${stakeMessage}" th:text="${stakeMessage}"></p>
                            <p class="badge-danger" th:if="${matchStarted}" th:text="${matchStarted}"></p>
                            <p class="badge-danger" th:if="${doubleBet}" th:text="${doubleBet}"></p>
                            <p class="badge-danger" th:if="${oddsChanged}"> Odds has changed <a th:href="@{/betting/delete-ticket}"> Start again </a> </p>
                            <p class="badge-danger" th:if="${notEnoughFunds}">You don't have enough funds <a th:href="@{/user/wallet}">Recharge</a>
                            </p>
                            <input name="stake" type="number" th:step="0.01" required>
                            <button th:text="'Submit'" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card my-4" sec:authorize="!isAuthenticated()">
                <h5 class="card-header">Your ticket <a th:href="@{/login}"> (login to start betting) </a></h5>
                <div class="card-body">
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature
                    the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
