<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{tennis-layout}">

<div layout:fragment="page-content">
    <div class="bg-danger">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post" >
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="inputUsername"
                                       name="username"                                               class="form-control"
                                       placeholder="Username"
                                       required="required" autofocus="autofocus">
                                <label for="inputUsername">Username</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword"
                                       name="password"                                               class="form-control"
                                       placeholder="Password"
                                       required="required" autofocus="autofocus">
                                <label for="inputPassword">Password</label>
                            </div>
                            <button class="btn btn-dark btn-block" type="submit"> Login</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p>Already have an account? <a class="d-block small mt-3" href="register.html">Login</a></p>

                        <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

